* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: rgb(49, 70, 180);
    color: rgb(255,255,255);
    border-bottom: 2px rgb(100,180,255) solid;

}

h1 {
    text-align: center;
    text-justify: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#dogs-container {
    justify-content: center;  
}

.flex-item {
    margin: 5px;
    flex: 1 1 30%;
}


.flex-item > ul {
    list-style-type: none;
    list-style-position: outside;
}

.flex-item > ul > li {
    background-color: rgb(100,180,255);
    display: inline-block;
    border-radius: 10px;
}


footer > .flex-item > h1 {
    text-align: center;
}

#flex-footer-1 {
    background-image: linear-gradient(rgba(200,0,0,0.5), rgba(200,0,0,0.5)), url("../images/donate.jpg");
    display: flex;
    min-height: 350px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex: 1 1 10%;
}


#flex-footer-2 {
    background: linear-gradient(rgba(200,0,0,0.5), rgba(200,0,0,0.5)), url("../images/volunteer.jpg");
    display: flex;
    min-height: 350px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex: 2 2 10%;

}

#flex-footer-3 {
    background: linear-gradient(rgba(200,0,0,0.5), rgba(200,0,0,0.5)), url("../images/location.png");
    display: flex;
    min-height: 350px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-shrink: 3;
    flex-grow: 3;
    flex-basis: 10%;
}
